/* Scrawl Editor */

.scrawl-wrapper {
  padding: 6px 7px 0;
  background: #fff;
  border: 1px solid #ccc; border-radius: 3px; 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 rgba(55, 156, 219, 0); 
  -webkit-transition: border linear 300ms, -webkit-box-shadow linear 100ms; 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 rgba(55, 156, 219, 0); 
  -moz-transition: border linear 100ms, box-shadow linear 100ms;
}

/* Handle fullscreen */
.scrawl-wrapper.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow: hidden;
  width: 100%;  
}

.scrawl-wrapper.fullscreen .preview {
  display: block;
  width: 45%;
  left: 50%;
  top: 40px;
  position: absolute;
  padding: 10px;
  border-left: 1px dotted #ddd;
  overflow: auto;
}

.scrawl-wrapper.fullscreen .CodeMirror {
  display: block;
  width: 50%;
  left: 0;
  top: 40px;
  position: fixed;
}

.scrawl-wrapper.fullscreen .scrawl-toolbar {
  position: fixed;
  width: 98%;
}

.scrawl-wrapper.fullscreen .scrawl-toolbar li a.icon-fullscreen 
{ 
  background-position: -225px; 
}

.scrawl-wrapper.fullscreen .editor-statusbar {
  position: fixed;
  bottom: 0;
  right: 50%;
  width: 50%;
}

.scrawl-wrapper .preview {
  display: none;
}

.scrawl-wrapper textarea {
  opacity: 0;
  height: 0;
}

.scrawl-loading {
  padding-bottom: 15px;
  margin-top: -10px;
}

/* Fix scrollbars ! */

.scrawl-wrapper .CodeMirror-vscrollbar {
  overflow-y: hidden;
}

.scrawl-wrapper.fullscreen .CodeMirror-vscrollbar {
  overflow-y: auto;
}

.scrawl-wrapper.fullscreen .CodeMirror-scroll {
  overflow: auto;
  margin-right: 0;
}

/* Toolbar */

.scrawl-toolbar {
  border-bottom: 1px dotted #ddd;
}

.scrawl-toolbar:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

.scrawl-toolbar li {
  float: left !important;
  margin: 0 !important;
  padding: 1px 0 3px 1px;
  outline: none;
  list-style: none !important;
}

.scrawl-toolbar li.right {
  float: none;
  float: right !important;
}

.scrawl-toolbar li.separator {
  padding: 0;
  margin: 7px 2px 0 3px !important;
  height: 19px;
  border-left: 1px dotted #ddd;
  border-right: none;
}

.scrawl-toolbar a {
  width: 25px;
  height: 25px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  zoom: 1;
  *border: 1px solid #eee;
  display: block;
  background-image: url('../images/buttons.png');
  background-position: 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.scrawl-toolbar a:hover {
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  background-color: #e8e8e8;
  outline: none;
}

/* buttons */
.scrawl-toolbar li a.icon-bold            { background-position: 0px; }
.scrawl-toolbar li a.icon-italic          { background-position: -25px; }
.scrawl-toolbar li a.icon-unordered-list   { background-position: -50px; }
.scrawl-toolbar li a.icon-ordered-list     { background-position: -75px; }
.scrawl-toolbar li a.icon-image           { background-position: -100px; }
.scrawl-toolbar li a.icon-link            { background-position: -125px; }
.scrawl-toolbar li a.icon-horizontalrule  { background-position: -150px; }
.scrawl-toolbar li a.icon-deleted         { background-position: -175px; }
.scrawl-toolbar li a.icon-fullscreen      { background-position: -200px; }
.scrawl-toolbar li a.icon-normalscreen    { background-position: -225px; }
.scrawl-toolbar li a.icon-h1              { background-position: -250px; }
.scrawl-toolbar li a.icon-h2              { background-position: -275px; }
.scrawl-toolbar li a.icon-h3              { background-position: -300px; }
.scrawl-toolbar li a.icon-quote           { background-position: -325px; }
.scrawl-toolbar li a.icon-undo            { background-position: -350px; }
.scrawl-toolbar li a.icon-redo            { background-position: -375px; }

.scrawl-toolbar li a.icon-deleted      { background-position: -500px; }

.scrawl-toolbar li a.icon-outdent      { background-position: -150px; }
.scrawl-toolbar li a.icon-indent         { background-position: -175px; }

.scrawl-toolbar li a.icon-video        { background-position: -225px; }
.scrawl-toolbar li a.icon-file       { background-position: -250px; }
.scrawl-toolbar li a.icon-table        { background-position: -275px; }

.scrawl-toolbar li a.icon-fontcolor      { background-position: -325px; }
.scrawl-toolbar li a.icon-backcolor      { background-position: -350px; }
.scrawl-toolbar li a.icon-alignleft        { background-position: -375px; }
.scrawl-toolbar li a.icon-aligncenter    { background-position: -400px; }
.scrawl-toolbar li a.icon-alignright       { background-position: -425px; }
.scrawl-toolbar li a.icon-justify      { background-position: -450px; }

.scrawl-toolbar li a.icon-underline      { background-position: -525px; }

.scrawl-toolbar li a.icon-clips        { background-position: -600px; }

.scrawl-toolbar li a.icon-alignment      { background-position: -625px; }

.scrawl-toolbar li a.icon-fontfamily     { background-position: -650px; }
.scrawl-toolbar li a.icon-fontsize     { background-position: -675px; }

.scrawl-toolbar li a.icon-direction      { background-position: -700px; }
.scrawl-toolbar li a.icon-lists        { background-position: -725px; }
.scrawl-toolbar li a.icon-font       { background-position: -750px; }

.scrawl-toolbar li a.icon-pre        { background-position: -875px; }


/* Status bar */

.editor-statusbar {
  border-top: 1px dotted #ddd;
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right;
}
.editor-statusbar span {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em;
}
.editor-statusbar .lines:before {
  content: 'lines: ';
}
.editor-statusbar .words:before {
  content: 'words: ';
}

/* BASICS */

.CodeMirror {
  font-family: monospace;
  min-height: 150px;
  height: auto;
  line-height: 1.6em;
  padding-top: 5px;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow-x: auto;
  overflow-y: hidden;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
  z-index: 3;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
  z-index: 1;
}
/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror div.CodeMirror-cursor.CodeMirror-overwrite {}

/* DEFAULT THEME */

.cm-s-paper .cm-keyword {color: #555;}
.cm-s-paper .cm-atom {color: #7f8c8d;}
.cm-s-paper .cm-number {color: #7f8c8d;}
.cm-s-paper .cm-def {color: #00f;}
.cm-s-paper .cm-variable {color: black;}
.cm-s-paper .cm-variable-2 {color: #555;}
.cm-s-paper .cm-variable-3 {color: #085;}
.cm-s-paper .cm-property {color: black;}
.cm-s-paper .cm-operator {color: black;}
.cm-s-paper .cm-comment {color: #959595;}
.cm-s-paper .cm-string {color: #7f8c8d;}
.cm-s-paper .cm-string-2 {color: #f50;}
.cm-s-paper .cm-meta {color: #555;}
.cm-s-paper .cm-error {color: #f00;}
.cm-s-paper .cm-qualifier {color: #555;}
.cm-s-paper .cm-builtin {color: #555;}
.cm-s-paper .cm-bracket {color: #997;}
.cm-s-paper .cm-tag {color: #7f8c8d;}
.cm-s-paper .cm-attribute {color: #7f8c8d;}
.cm-s-paper .cm-header {color: #000;}
.cm-s-paper .cm-quote {color: #888;}
.cm-s-paper .cm-hr {color: #999;}
.cm-s-paper .cm-link {color: #7f8c8d;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header {font-weight: bold; font-size: 1.1em;}
.cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}

.cm-invalidchar {color: #f00;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}


/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror, and the paddings in .CodeMirror-sizer */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px; padding-right: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
  z-index: 6;
}

.CodeMirror-lines {
  cursor: text;
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {
  display: inline-block;
}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%; height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #BDC3C7; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden;
  }
}